h3 display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px;
.info__inner-items.grid(style="grid-template-columns: repeat(4, 1fr);")
    .grid__item(style="grid-column: span 2;") span 2
    .grid__item 2
    .grid__item 3
    .grid__item 4
    .grid__item 5
    .grid__item 6