h3 text-align: right;
.info__inner-items(style="text-align: right;")
    .text__item Lorem ipsum dolor sit amet consectetur sse deserunt reprehenderit eaque labore nam, nisi quas odit dolor, a quod. #[br] Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, deleniti dolorum ipsam vel dicta eligendi laudantium omnis vitae esse deserunt reprehenderit eaque labore nam, nisi quas odit dolor, a quod.