header.header
    .container
        .header-inner 
            ul.header__menu
                li.header__menu-item
                    a(href="#").header__menu-link item 1
                li.header__menu-item
                    a(href="#").header__menu-link item 1
                li.header__menu-item
                    a(href="#").header__menu-link item 1
                li.header__menu-item
                    a(href="#").header__menu-link item 1
